@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);

  --color-text: var(--text);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
}

:root {
  --background: #f7f7fa;
  --surface: #ffffff;
  --border: #e5e7eb;

  --text: #111827;
  --text-primary: #7430e9;
  --text-secondary: #6b7280;

  --primary: #7430e9;
  --primary-hover: #6d28d9;
  --primary-light: #7c3aed25;
}

.dark {
  --background: #0f172a;
  --surface: #1e293b;
  --border: #334155;

  --text: #f8fafc;
  --text-primary: #8b5cf6;
  --text-secondary: #94a3b8;

  --primary: #8b5cf6;
  --primary-hover: #312e81;
  --primary-light: #a78bfa;
}

@layer base {
  body {
    @apply bg-background text-text font-sans font-normal;
  }
}
